<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="fullcalendar/main.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap/js/bootstrap.min.js.map"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    
    <!-- <link href="fullcalendar/css/main.css" rel="stylesheet" /> -->
    <link href='fullcalendar/main.css' rel='stylesheet' />
    <link href='fullcalendar/css/new.css' rel='stylesheet'/>
    <link rel="stylesheet" href="fullcalendar/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href='fullcalendar/vendor/css/bootstrap-datetimepicker.min.css' />
    <script src='fullcalendar/main.js'></script>
    <script src="fullcalendar/vendor/js/jquery.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>make your plan :)</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark"  style="width:100%;">
        <a class="navbar-brand mainNav" href="javascript:;">
        	Hey <span sec:authentication="principal.name"></span>, Check your plan! 
        </a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" style="color:white; font-size:20px;">LOGOUT</a>
    </nav>
    
    <form id="logout" action="/logout" method="POST">
	   <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
	</form>

    <div class="mainContainer">
        <div class="mainRow">
            <div class="mainDiv">
                <span class="divTitle">일기장(기본게시판)<button class="main_btn"> + View detail</button></span>
                <table class="table" style="margin-top: 20px;">
                    <thead>
                      <tr>
                        <th scope="col" class="diaryTh">DAY</th>
                        <th scope="col">Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="diary:${diaryList}">
                        <th scope="row" th:text="${diary.writeDt}"></th>
                        <td><a href="#" class="main_link" th:text="${diary.title}"></a></td>
                      </tr>
                    </tbody>
				</table>
				
	            <nav class="pagingDiv" th:with="start=${paging.startPage}, end=${paging.endPage}" >
	                <ul class="pagination">
	                    <li th:if="${paging.prev}">
	                        <a th:href="@{/note/list(num=${page.startPageNum-1})}" th:text="'<'"></a>
	                        <!-- <a th:href="@{/note/list(num=${page.startPageNum-1})}" th:text="'<'"></a> -->
	                    </li>
	                    <li th:each="page: ${#numbers.sequence(start, end)}">
	                        <a th:text="${page}" th:href="@{/note/list(num=${page})}"></a>
	                        <!-- <a th:text="${page}" th:href="@{/note/list(num=${page})}"></a> -->
	                    </li>
	                    <li th:if="${paging.next}">
	                        <a th:href="@{/note/list(num=${page.endPageNum+1})}" th:text="'>'"></a>
	                        <!-- <a th:href="@{/note/list(num=${page.endPageNum+1})}" th:text="'>'"></a> -->
	                    </li>
	                </ul>
	            </nav>
		        
            </div>
            <div class="mainDiv">
                <!-- <span class="divTitle">일정(fullcalendar 사용해보기)</span> -->
                <div id='calendar' style="width:85%; height:75%; margin-left:auto; margin-right:auto;"></div>
            </div>
        </div>
        <div class="mainRow">
            <div class="mainDiv">
                <span class="divTitle">진행상황(차트 사용해보기)</span>
            </div>
            <div class="mainDiv">
                <span class="divTitle">이번달 목표(체크리스트 만들어보기)</span>
            </div>
        </div>
    </div>

    <footer class="footer py-3">
    <div class="container">
        <span class="text-muted">Copyright © 2021 jangmi.</span>
    </div>
    </footer>


	<script>
	//seetAlert : https://wooncloud.tistory.com/12
		$(document).ready(function() {
			$("#logoutBtn").on("click",function(){
				$("form").submit();
			})
		});
	
		function logout(){
			Swal.fire({
			  title: 'Do you really want to logout?',
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#034f84',
			  cancelButtonColor: '#9896a4',
			  confirmButtonText: 'Yes, please',
			  cancelButtonText: 'No! sorry'
			}).then((result) => {
				if (result.isConfirmed) {
					console.log($("#logout"));
					$("form").submit();
				}
			})
		}
		
		document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');
	        var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				header: {
				   left: 'prev,next today',
				   center: 'title',
				   right: 'dayGridMonth,timeGridWeek,timeGridDay'
				 },
				 editable: true,
				 droppable: true, // this allows things to be dropped onto the calendar
				 drop: function(info) {
				    // is the "remove after drop" checkbox checked?
				    if (checkbox.checked) {
				      // if so, remove the element from the "Draggable Events" list
				      info.draggedEl.parentNode.removeChild(info.draggedEl);
				    }
				 },
				 dateClick: function() {
					 $("#contextMenu").removeClass("fade");
				 }
	        });
	        calendar.render();
	      });
	</script>
</body>
</html>